* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-left: 20%;
}

.row {
    .col-3 {
        width: 150px;
        height: 150px;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
        h4 {
            margin-left: 30px;
            margin-top: 60px;
        }
    }
}



// Not hidden
.first_p {
    display: none;
}

.second_p {
    display: none;
}

.third_p {
    display: none;
}

.fourth_p {
    display: none;
}

.fifth_p {
    display: none;
}

.sixth_p {
    display: none;
}

// Hidden
// .first_p_hide {
//     display: block;
// }

// .second_p_hide {
//     display: block;
// }

// .third_p_hide {
//     display: block;
// }

// .fourth_p_hide {
//     display: block;
// }

// .fifth_p_hide {
//     display: block;
// }

// .sixth_p_hide {
//     display: block;
// }
